<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Computacion WEB</title>
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Alternar navegación" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Facultad", "Index", "FacultadK", new { id = "" }, htmlAttributes: new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Carrera", "Index", "Carrera", new { id = "" }, htmlAttributes: new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Estudiante", "Index", "Estudiante", new { id = "" }, htmlAttributes: new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Operadora", "Index", "OperadoraTelefono", new { id = "" }, htmlAttributes: new { @class = "nav-link" })</li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Reporteria
                        </a>
                        <ul class="dropdown-menu">
                            <li><a target="_blank" class="dropdown-item" href="@Url.Action("VisualizadorReport.aspx", "ViewReport", new { Reporte = "RptEstudiantes.rdlc" })">Lista Estudiantes</a></li>
                            <li><a target="_blank" class="dropdown-item" href="@Url.Action("VisualizadorReport.aspx", "ViewReport", new { Reporte = "RptGrEstudiantesXCarrera.rdlc" })">Total Estudiantes - Carreras | Grafico</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="@Url.Action("RptEstudianteFacultad","Reporte")">Imprimir Estudiantes X Facultad</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        <input id="root-url-input" value="@Url.Content("~/")" hidden="hidden" />
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrapJS")
    @RenderSection("scripts", required: false)
</body>
</html>
