@model CapaDato.Models.OperadoraTelefono

@{
    ViewBag.Title = "Agregar Operadora";
}

<br>
<div class="row">
    <div class="col-md-5">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="text-center"><strong>@ViewBag.Title</strong></h4>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        @using (Html.BeginForm("Agregar", "OperadoraTelefono", FormMethod.Post, new { @id = "frmGuardarS" }))
                        {
                            @Html.AntiForgeryToken()
                            @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@

                            <div class="form-group">
                                @Html.LabelFor(s => s.Codigo)
                                @Html.TextBoxFor(s => s.Codigo, new { @class = "form-control" })
                                @Html.ValidationMessageFor(s => s.Codigo, "", htmlAttributes: new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(s => s.Descripcion)
                                @Html.TextBoxFor(s => s.Descripcion, new { @class = "form-control" })
                                @Html.ValidationMessageFor(s => s.Descripcion, "", htmlAttributes: new { @class = "text-danger" })
                            </div>

                            if (ViewBag.ErrorMessage != null)
                            {
                                <div class="form-group">
                                    <div class="alert alert-danger" role="alert">
                                        <strong>@ViewBag.ErrorMessage</strong>
                                    </div>
                                </div>
                            }

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        @Html.ActionLink(" Regresar", "Index", "OperadoraTelefono", new { @class = "btn btn-primary btn-block glyphicon glyphicon-arrow-left" })
                                    </div>
                                    <div class="col-md-6">
                                        <button type="submit" name="btnGuardar" class="btn btn-success btn-block"><i class="glyphicon glyphicon-saved"></i> Guardar</button>
                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
