@model List<CapaDato.Models.Carrera>

@{
    ViewBag.Title = "Index";
    string descripcion = "Carreras";
    int i = 1;
}

<br>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="text-center"><strong>@descripcion</strong></h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        @Html.ActionLink("+ Agregar", "Crear", "Carrera", htmlAttributes: new { @class = "btn btn-primary" })
                        <a class="btn btn-secondary fw-bold" target="_blank" href="@Url.Action("VisualizadorReport.aspx", "ViewReport", new { Reporte = "RptCarrera.rdlc" })">
                            <i class="fas fa-print"></i> Imprimir
                        </a>
                    </div>
                </div>
                <hr>
                <table class="table table-bordered">
                    <thead>
                        <tr class="success">
                            <th class="text-center">#</th>
                            <th class="text-center">Codigo</th>
                            <th class="text-center">Descripcion</th>
                            <th class="text-center">Año Ofertada</th>
                            <th class="text-center">Facultad</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>

                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-center"><strong>@i</strong></td>
                                <td>@item.Codigo</td>
                                <td>@item.Descripcion</td>
                                <td>@item.AnioOfertada</td>
                                <td>@item.Facultad.Descripcion</td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        @Html.ActionLink(" ", "Editar", "Carrera", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-success glyphicon glyphicon-edit" })
                                        @Html.ActionLink(" ", "Eliminar", "Carrera", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-danger glyphicon glyphicon-trash" })
                                    </div>
                                </td>
                            </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

