@model CapaDTO.ViewModel.IndexEstudianteVM

@{
    ViewBag.Title = "Index";
}


@Html.Hidden("JsonData")

<br>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-primary">
                <h4 class="text-center text-white"><strong _data-bind="text: Titulo">Estudiante</strong></h4>
            </div>
            <div class="card-body">
                <div class="row justify-content-end">
                    <div class="col-2 d-grid">
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalCRUD" data-bind="click:()=> { ShowModal(null, 'Crear') }">Agregar Estudiante</button>
                    </div>
                    <div class="col-2 d-grid">
                        <button class="btn btn-success" data-bind="click: $root.ResfrescarEstudiantes">Actualizar Lista</button>
                    </div>
                    <div class="col-2 d-grid">
                        <a class="btn btn-secondary fw-bold" target="_blank" href="@Url.Action("VisualizadorReport.aspx", "ViewReport", new { Reporte = "RptGrEstudiantesXCarrera.rdlc" })">
                            <i class="fas fa-print"></i> Imprimir
                        </a>
                    </div>
                </div>
                <hr>
                <div class="row mb-2" data-bind="with: FiltrosEstudiante">
                    <div class="col">
                        <input type="text" placeholder="Carnet" class="form-control" data-bind="value: Carnet">
                    </div>
                    <div class="col">
                        <input type="text" placeholder="Nombre" class="form-control" data-bind="value: Nombre">
                    </div>
                    <div class="col">
                        <input type="text" placeholder="Apellido" class="form-control" data-bind="value: Apellido">
                    </div>
                    <div class="col">
                        <input type="text" placeholder="Carrera" class="form-control" data-bind="value: Carrera">
                    </div>
                    <div class="col-2 d-grid">
                        <button data-bind="click: $root.GetFilterEstudiante" class="btn btn-info">Filtrar</button>
                    </div>
                </div>
                <!--ko ifnot: CargandoPeticion-->
                <table class="table table-bordered table-hover small">
                    <thead class="table-info">
                        <tr class="success">
                            <th class="text-center">#</th>
                            <th class="text-center">Carnet</th>
                            <th class="text-center">Nombre</th>
                            <th class="text-center">Edad</th>
                            <th class="text-center">Carrera</th>
                            <th class="text-center">Numeros</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>

                    <tbody data-bind="foreach: Estudiantes">
                        <!--Estudiantes-->
                        <tr>
                            <td class="text-center"><strong data-bind="text: $index()+1"></strong></td>
                            <td data-bind="text: Carnet"></td>
                            <td data-bind="text: Nombre"></td>
                            <td data-bind="text: Edad"></td>
                            <td data-bind="text: DescripcionCarrera"></td>
                            <td data-bind="text: NumerosTelofonos"></td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <button _data-bind="click: $root.ShowModal" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-sm btn-outline-success">Editar</button>
                                    <button data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-sm btn-outline-danger">Eliminar</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!--/ko-->
                <!--ko if: CargandoPeticion-->
                <h1 class="text-success text-center">Cargando...</h1>
                <!--/ko-->
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal modal-lg fade" id="ModalCRUD" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h1 class="text-white modal-title fs-5" id="exampleModalLabel">Estudiante</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" _data-bind="with: EstudianteM">

                @using (Html.BeginForm("Create", "Estudiante", FormMethod.Post, htmlAttributes: new { @id = "CRUDForm" }))
                {
                    <!--ko with: EstudianteM-->
                    <div class="row">
                        <div class="col-3">
                            @Html.LabelFor(s => s.EstudianteM.Carnet, htmlAttributes: new { @class = "fw-bold" })
                            @Html.TextBoxFor(s => s.EstudianteM.Carnet, htmlAttributes: new { @class = "form-control", data_bind = "value: Carnet" })
                            @Html.ValidationMessageFor(s => s.EstudianteM.Carnet, "", htmlAttributes: new { @class = "text-danger small fw-bold" })
                        </div>
                        <div class="col">
                            @Html.LabelFor(s => s.EstudianteM.Nombre, htmlAttributes: new { @class = "fw-bold" })
                            @Html.TextBoxFor(s => s.EstudianteM.Nombre, htmlAttributes: new { @class = "form-control", data_bind = "value: Nombre" })
                            @Html.ValidationMessageFor(s => s.EstudianteM.Nombre, "", htmlAttributes: new { @class = "text-danger small fw-bold" })
                        </div>
                        <div class="col">
                            @Html.LabelFor(s => s.EstudianteM.Apellido, htmlAttributes: new { @class = "fw-bold" })
                            @Html.TextBoxFor(s => s.EstudianteM.Apellido, htmlAttributes: new { @class = "form-control", data_bind = "value: Apellido" })
                            @Html.ValidationMessageFor(s => s.EstudianteM.Apellido, "", htmlAttributes: new { @class = "text-danger small fw-bold" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-3">
                            @Html.LabelFor(s => s.EstudianteM.Edad, htmlAttributes: new { @class = "fw-bold" })
                            @Html.TextBoxFor(s => s.EstudianteM.Edad, htmlAttributes: new { @class = "form-control", @type = "number", data_bind = "value: Edad" })
                            @Html.ValidationMessageFor(s => s.EstudianteM.Edad, "", htmlAttributes: new { @class = "text-danger small fw-bold" })
                        </div>
                        <div class="col">
                            @Html.LabelFor(s => s.EstudianteM.CarreraId, htmlAttributes: new { @class = "fw-bold" })
                            @Html.DropDownListFor(s => s.EstudianteM.CarreraId,
                                selectList: ViewBag.ListaCarrera as SelectList,
                                optionLabel: "-- Seleccione --",
                                htmlAttributes: new
                                {
                                    @class = "form-select",
                                    data_bind = "value: CarreraId"
                                }
                            )
                            @Html.ValidationMessageFor(s => s.EstudianteM.CarreraId, "", htmlAttributes: new { @class = "text-danger small fw-bold" })
                        </div>
                    </div>
                    <!--/ko-->

                    <div class="row mt-2">
                        <h5 class="text-primary text-center">Lista De Telefonos</h5>
                    </div>

                    <div class="row" data-bind="with: DetalleTelefono">
                        <div class="col">
                            @Html.DropDownList("Operadora",
                                       selectList: ViewBag.ListaOperadora as SelectList,
                                       optionLabel: "-- Seleccione --",
                                       htmlAttributes: new
                                       {
                                           @class = "form-select",
                                           data_bind = "value: OperadoraTelefonoId"
                                       }
                                   )
                        </div>

                        <div class="col">
                            <input type="text" class="form-control" placeholder="8888-8888" data-bind="value: Numero">
                        </div>

                        <div class="col-2 d-grid">
                            <button type="button" class="btn btn-success" data-bind="click: $root.AddTelefono"> + </button>
                        </div>
                    </div>

                    <div class="row mt-3" data-bind="with: EstudianteM">
                        <div class="col">
                            <table class="small table table-bordered table-hover table-sm" data-bind="if: DetalleEstudianteTelefonos().length > 0">
                                <thead class="table-info">
                                    <tr class="success">
                                        <th class="text-center">#</th>
                                        <th class="text-center">Operadora</th>
                                        <th class="text-center">Numero</th>
                                        <th class="text-center">Accion</th>
                                    </tr>
                                </thead>

                                <tbody data-bind="foreach: DetalleEstudianteTelefonos">
                                    <tr class="text-center">
                                        <td class="text-center"><strong data-bind="text: $index()+1"></strong></td>
                                        <td data-bind="text: DescripcionOperadora"></td>
                                        <td data-bind="text: Numero"></td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <button class="btn btn-sm btn-outline-danger" data-bind="click: $root.RemoveTelefono">Eliminar</button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!--ko if: DetalleEstudianteTelefonos().length == 0-->
                            <div class="alert alert-warning" role="alert">
                                <strong>¡No hay telefonos agregados..!</strong>
                            </div>
                            <!--/ko-->
                        </div>
                    </div>

                    if (ViewBag.ErrorMensaje != null)
                    {
                        <div class="form-group">
                            <div class="alert alert-danger" role="alert">
                                <strong>@ViewBag.ErrorMensaje</strong>
                            </div>
                        </div>
                    }
                }

                <hr>
                <div class="row">
                    <div class="col d-grid">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                    <div class="col d-grid">
                        <button type="button" class="btn btn-primary" data-bind="click: $root.CRUD">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/Creados/Estudiante/FiltrosEstudianteVM.js"></script>
    <script src="~/Scripts/Creados/Estudiante/DetalleEstudianteTelefonoVM.js"></script>
    <script src="~/Scripts/Creados/Estudiante/EstudianteVM.js"></script>
    <script src="~/Scripts/Creados/Estudiante/IndexEstudianteVM.js"></script>
}